/*Purpose: Media queries and responsive adjustments*/

/* DESKTOP BREAKPOINT */

@media (min-width: 768px) {

}



@media (min-width: 960px) {

    h1 {
        font-size: 48px;
    }

    .container {
        margin-left: 80px;
        margin-right: 80px;
    }
    
    .header-container {
        height: 75px; /* If you edit header-container height also make main.padding-top exact same */
    }

    main {
        padding-top: 75px; /* If you edit header-container height also make main.padding-top exact same */
    }

    .nav {
        position: static;
        transform: none;
    }

    .hero {
        height: 740px;
    }

    .hero-heading {
        width: 45%;
    }

    .responsive-orientation {
        flex-direction: row;
    }

    .hero-button {
        width: auto;
        padding: 13px 24px 13px 24px;;
    }

    .clients-carousel {
        --item-width: 96px;
    --item-height: 36px;
    --visible-items: 6;
    --gap: 16px;
    }
}