html {
  font-family: var(--font-main);
}

:root{
  --container-max: 100%;
  --container-pad: clamp(16px, 4vw, 32px);
  --gutter: clamp(12px, 2vw, 24px);
}

.container{
  width: min(var(--container-max), 90%);
  margin-inline: auto;
  padding-inline: var(--container-pad);
}



.grid{
  display: grid;
  gap: var(--gutter);
  grid-template-columns: repeat(4, minmax(0, 1fr)); /* mobile default */
}

/* desktop */
@media (min-width: 1024px){
  .grid{
    grid-template-columns: repeat(12, minmax(0, 1fr));
  }
}



.col-1{ grid-column: span 1; }
.col-2{ grid-column: span 2; }
.col-3{ grid-column: span 3; }
.col-4{ grid-column: span 4; }

@media (min-width: 1024px){
  .col-lg-2{ grid-column: span 2; }
  .col-lg-3{ grid-column: span 3; }
  .col-lg-4{ grid-column: span 4; }
  .col-lg-5{ grid-column: span 5; }
  .col-lg-1{ grid-column: span 1; }
  .col-lg-6{ grid-column: span 6; }
  .col-lg-7{ grid-column: span 7; }
  .col-lg-8{ grid-column: span 8; }
  .col-lg-9{ grid-column: span 9; }
  .col-lg-10{ grid-column: span 10; }
  .col-lg-11{ grid-column: span 11; }
  .col-lg-12{ grid-column: span 12; }
}

.logo {
  text-decoration: none;
  color: var(--color-black);
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}



:root{
  --header-h: clamp(3.125rem, 2.2vw + 2.2rem, 4.6875rem); 
}

header {
  position: sticky;
  top: 0;
  z-index: 1000;

  height: var(--header-h);
  background: transparent;        /* transparent at the top */
  border-bottom: 1px solid transparent;
}

.header-inner{
  align-items: center;
  height: 100%;
}

.page-nav-desktop{
  display: block;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 30px;
  z-index: 1100;

  /* optional: match your design system */
  height: var(--mobile-bottombar-h, 3.25rem);

  /* content alignment */
  display: grid;
  place-items: center;
}

@media (min-width: 1024px){
  .page-nav-desktop{
    position: static;   /* back into the grid cell */
    height: auto;
    border-top: 0;
    z-index: auto;

    display: block;     /* whatever you need on desktop */
  }
}

.page-nav-style {
  border: 1px solid #9e9e9e;
  border-radius: 86px;
  padding: 10px;
  display: flex;
  gap: var(--gutter);
}

.circle {
  width: clamp(2rem, 7vw, 4rem);
  aspect-ratio: 1 / 1;
  background: #939393;
  border-radius: 50%;
}

@media (min-width: 1024px){
  .circle {
    width: clamp(1.5rem, 5vw, 3rem);
  }
}